# Python
__pycache__/
env/
# Virtual environments
venv/
ENV/

# PyTorch model checkpoints (can be large)
*.pt
*.pth

# Data directories
ds003020/
model_output/
stimuli_16k/
stimuli_test/
features/
Huth/
trash/
finetuning_results/
derivative/

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log
