# Python
__pycache__/
env/
# Virtual environments
venv/
ENV/

# PyTorch model checkpoints (can be large)
*.pt
*.pth

# Data directories
ds003020/
voxelwise_tutorials/
*model_output/
stimuli_16k/
stimuli_test/
features/
Huth/
*trash/
*_norton_/
*finetuning_results/
derivative/preprocessed_data/
derivative/preprocessed_data_old/

derivative/masks/
derivative/exemple_data/
results/

results/

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log
